@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
  --fire: #ef6461;
  --sun: #e4b363;
  --alab: #e0dfd5;
  --onyx: #313638;
}
